<div class="block-parties">
  <div class="left-rect slideUp">
    <h3>Planning a party?</h3>
    <p>Lorem ipsum dolor sit amet elit, vabiscum consectetur adipiscing Lorem ipsum dolor sit amet elit.</p>
  </div>
  <div class="container">
    <img class="parties-up" src="/assets/img/parties-up.png">
    <img class="parties-up-mob" src="/assets/img/parties-up-mob.png">
  </div>
</div>

<div class="block-loc">
  <p class="loc-one">Nearest park to your location</p>
  <p class="loc-two"><img src="/assets/img/loc-icon.png">Vista, California</p>
</div>
<div class="block-all-loc">
  <div class="all-loc--green">
    <img src="/assets/img/all-loc-arrow.png">
    <p>All locations</p>
  </div>
  <div class="all-loc--contents">
    <div class="container">
      <div class="all-loc--content">
        <p class="loc-name" link="/">New Jersey</p>
        <p class="loc-addr"><img src="/assets/img/icon-loc.png"> 1234 Lorem St., 25</p>
        <p class="loc-phone"><img src="/assets/img/icon-phone.png">123-456-7890</p>
      </div>
      <div class="all-loc--content">
        <p class="loc-name" link="/">New York</p>
        <p class="loc-addr"><img src="/assets/img/icon-loc.png">1234 Lorem St., 25</p>
        <p class="loc-phone"><img src="/assets/img/icon-phone.png">123-456-7890</p>
      </div>
      <div class="all-loc--content">
        <p class="loc-name" link="/">Boston</p>
        <p class="loc-addr"><img src="/assets/img/icon-loc.png">1234 Lorem St., 25</p>
        <p class="loc-phone"><img src="/assets/img/icon-phone.png">123-456-7890</p>
      </div>
      <div class="all-loc--content">
        <p class="loc-name" link="/">Memphis</p>
        <p class="loc-addr"><img src="/assets/img/icon-loc.png">1234 Lorem St., 25</p>
        <p class="loc-phone"><img src="/assets/img/icon-phone.png">123-456-7890</p>
      </div>
      <div class="all-loc--content">
        <p class="loc-name" link="/">New York</p>
        <p class="loc-addr"><img src="/assets/img/icon-loc.png">1234 Lorem St., 25</p>
        <p class="loc-phone"><img src="/assets/img/icon-phone.png">123-456-7890</p>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="js/loc.js"></script>
</div>
<div class="block-play block-play-parties">
  <div class="play-one">
    <div class="container">
      <img class="play-one-up" src="/assets/img/partie1-up.png">
      <div class="play-text">
        <h3>Lorem Dolor</h3>
        <p>Sed in augue minim suscipit. Ipsum libris labitur qui eu, aliquid menandri adversarium nam et, ius
          quot reprimique eu. Autem partem populo eu eam, ex mea elitr soleat accusam, te cum soleat
          graece.</p>

        <p>Nam ei vide dolorum, vel illud ponderum iracundia ea, vim choro clita ignota ad. Est quot elaboraret
          an.</p>
        <a class="play-link" href="">Contact us</a>
      </div>
    </div>
  </div>
  <div class="play-two">
    <div class="container">
      <img class="play-two-up" src="/assets/img/partie2-up.png">
      <div class="play-text">
        <h3>Lorem Groups</h3>
        <p>Sed in augue minim suscipit. Ipsum libris labitur qui eu, aliquid menandri adversarium nam et, ius
          quot
          reprimique eu. Autem partem populo eu eam, ex mea elitr soleat accusam, te cum soleat graece.</p>
      </div>
    </div>
  </div>
</div>
<div class="block-rules block-parties-rules">
  <div class="container">
    <h3>Rules & Safety</h3>
    <p>Oratio intellegebat pri ad. Laudem menandri theophrastus cu per, no noster iisque sed. No sit
      feugiat delenit accusam, ad perpetua efficiantur mel. Sale petentium qui te, sed adhuc mollis te, ea graeci
      intellegam eum. Antiopam suscipiantur at duo.</p>
  </div>
</div>
<div class="block-all-rules block-parties-all-rules">
  <div class="all-rules--green">
    <img src="/assets/img/all-rulles-arrow.png">
    <p>Read all rulles</p>
  </div>
  <div class="all-rules--contents">
    <div class="container">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum pellentesque odio ac dui volutpat
        feugiat. Quisque id ipsum ut nulla lacinia feugiat scelerisque sed sem. Donec porta ex quis varius
        euismod. Vestibulum sapien ipsum, ultricies ac dignissim sit amet, vestibulum in ipsum. Nunc nec est vel
        purus tempor elementum non in ipsum. Quisque facilisis enim justo, quis fringilla velit aliquet non.
        Pellentesque imperdiet mattis sollicitudin. Suspendisse sit amet ex tempus, vehicula tellus ut, semper
        quam. Ut eros lorem, malesuada nec vulputate semper, efficitur quis purus. Sed et eleifend urna. Nam sed
        ultrices metus. Donec pretium erat non nibh egestas, eu congue metus ullamcorper. Mauris mattis eget
        nisl quis tempus. Aenean et enim finibus libero pharetra bibendum. Morbi dignissim tempus blandit.
        Aliquam rutrum mi vitae lectus condimentum elementum.</p>
      <p>Aenean nec nibh sodales, ullamcorper nunc sed, bibendum dui. Proin venenatis sollicitudin purus, vel
        maximus nisl volutpat sed. Nulla id dolor nisi. Morbi vel nisl sit amet mauris dapibus dapibus non at
        ligula. Sed eu eros ornare, dapibus massa nec, rutrum eros. Aliquam ante enim, hendrerit sit amet
        dapibus sit amet, pharetra ut lacus. Nullam ac velit nec mauris sollicitudin rutrum eu eget neque. Ut id
        scelerisque sapien, ut blandit nibh. Donec dignissim nisl sed feugiat malesuada.</p>
      <p>Nam eget tempor magna, quis aliquet dolor. Nam vitae feugiat dui, vel aliquet sem. Vivamus faucibus nisl
        vel est laoreet elementum. Curabitur in odio in risus imperdiet egestas. Quisque sit amet enim at elit
        mollis imperdiet. Maecenas ipsum elit, posuere id porta eu, dictum nec orci. Proin id pharetra arcu, eu
        varius nunc. Ut imperdiet lacus id vestibulum feugiat. Mauris rhoncus eget purus sed lacinia. Sed at
        porttitor magna, at congue neque.</p>
      <p>Suspendisse tincidunt, ligula ac ultricies condimentum, justo erat ultricies dui, at fringilla purus sem
        ut leo. In feugiat vulputate volutpat. Donec porttitor lacus ut risus auctor luctus. Integer ultricies
        vestibulum purus, non scelerisque libero sollicitudin sed. Sed vehicula arcu a est ultricies mattis.
        Etiam vestibulum ante nec lorem rutrum elementum vitae tempor dolor. Sed tristique augue ut quam
        vestibulum laoreet. Phasellus fermentum eget ligula vitae blandit. Integer vitae arcu interdum, interdum
        nulla eu, venenatis lectus. Praesent tempor nulla quam, vel euismod lectus imperdiet a. Maecenas commodo
        dignissim sem a cursus. Donec rutrum dui eu risus bibendum iaculis.</p>
      <p>Sed erat urna, dignissim vitae pretium et, convallis nec sem. Suspendisse magna nisi, euismod sed
        malesuada sit amet, hendrerit at erat. Curabitur egestas leo quis imperdiet posuere. In posuere eleifend
        purus id venenatis. Nullam rutrum risus nec tortor cursus, et aliquam odio semper. Lorem ipsum dolor sit
        amet, consectetur adipiscing elit. Etiam id efficitur augue, vitae ornare dolor. Nullam nec euismod
        tortor. Nulla lacinia scelerisque nisi, feugiat gravida ante lobortis at. Cras ex dolor, pharetra in
        volutpat quis, tincidunt vitae purus. Sed vitae turpis vestibulum, commodo libero nec, eleifend
        velit.</p>
    </div>
  </div>
</div>
