<div class="block-one">
    <div class="block-one-mob"></div>
    <div class="block-one-mob-up"></div>
    <div class="left-rect slideUp">
        <h3>escape rooms</h3>
        <p>Lorem ipsum dolor sit amet elit, vabiscum consectetur adipiscing.</p>
        <a href="escape-room">Enter</a>
    </div>
    <div class="right-rect slideUp-right">
        <h3>Trampoline park</h3>
        <p>Lorem ipsum dolor sit amet elit, vabiscum consectetur adipiscing.</p>
        <a href="/trampoline-park">Enter</a>
    </div>
    <div class="home-arrow floating">
        <img id="arrow" class="anim-op" src="/assets/img/home-arrow.svg">
    </div>
</div>

<a name="locations"></a>
<div class="block-loc">
    <p class="loc-one">Nearest park to your location</p>
    <p class="loc-name loc-two" link="/"><img src="/assets/img/loc-icon.png">Vista, California</p>
    <p class="loc-three">
        <span class="loc-zip">
            Input your zip
            <input class="input-zip" list="zip" maxlength="5">
            <datalist id="zip">
                <option>90001</option>
                <option>90002</option>
                <option>90003</option>
                <option>90004</option>
                <option>90005</option>
                <option>90006</option>
            </datalist>
        </span>
        <span class="loc-city">
            or city
            <input class="input-city" list="city" maxlength="25">
            <datalist id="city">
                <option>Vista</option>
                <option>New Jersey</option>
                <option>New York</option>
                <option>Boston</option>
                <option>Memphis</option>
            </datalist>
        </span>
        <button class="button-find">Find</button>
    </p>
    <p class="loc-four"><img src="/assets/img/loc-icon.png">Please, allow to use your location</p>
</div>

<div class="block-all-loc">
    <div class="all-loc--green open">
        <img src="/assets/img/all-loc-arrow.png">
        <p>All locations</p>
    </div>
    <div class="all-loc--contents locEntrance">
        <div class="container">
            <div class="all-loc--content">
                <p class="loc-name" link="/">New Jersey</p>
                <p class="loc-addr"><img src="/assets/img/icon-loc.png"> 1234 Lorem St., 25</p>
                <p class="loc-phone"><img src="/assets/img/icon-phone.png">123-456-7890</p>
            </div>
            <div class="all-loc--content">
                <p class="loc-name" link="/">New York</p>
                <p class="loc-addr"><img src="/assets/img/icon-loc.png">1234 Lorem St., 25</p>
                <p class="loc-phone"><img src="/assets/img/icon-phone.png">123-456-7890</p>
            </div>
            <div class="all-loc--content">
                <p class="loc-name" link="/">Boston</p>
                <p class="loc-addr"><img src="/assets/img/icon-loc.png">1234 Lorem St., 25</p>
                <p class="loc-phone"><img src="/assets/img/icon-phone.png">123-456-7890</p>
            </div>
            <div class="all-loc--content">
                <p class="loc-name" link="/">Memphis</p>
                <p class="loc-addr"><img src="/assets/img/icon-loc.png">1234 Lorem St., 25</p>
                <p class="loc-phone"><img src="/assets/img/icon-phone.png">123-456-7890</p>
            </div>
            <div class="all-loc--content">
                <p class="loc-name" link="/">New York</p>
                <p class="loc-addr"><img src="/assets/img/icon-loc.png">1234 Lorem St., 25</p>
                <p class="loc-phone"><img src="/assets/img/icon-phone.png">123-456-7890</p>
            </div>
        </div>
    </div>
</div>
